<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- COM port of the Pole Display/VFD. Tested with HP LD220. -->
    <add key="PoleDisplayCOMPort" value="COM3"/>
    
    <!-- Network adapter to retrieve statistics for. -->
    <add key="NetworkAdapter" value="Realtek PCIe GBE Family Controller _2"/>

    <!-- How frequent (in milliseconds) that a statistics page should update. -->
    <add key="StatisticsUpdateTime" value="1000"/>

    <!-- How many updates that a statistics page should have before rotating to the next. -->
    <add key="StatisticsRotationUpdateCount" value="5" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>